
        <footer class="bg-dark pt-4 pb-4 mt-4 mb-4">
            <div class="container text-center text-white">
                All content copyright &copy; 2024<br>Content generated using Crossroads static generator
            </div>

            <script defer src="https://www.googletagmanager.com/gtag/js?id=G-9YTETF9LXH"></script>
            <script defer src="{$page->asset_url}/lumen.min.js?v={$page->asset_hash}"></script>
        </footer>   
    </body>
</html>
