
        <footer class="bg-dark pt-4 pb-4 mt-4 mb-4">
            <div class="container text-center text-white">
                All content copyright &copy; 2024
            </div>
        </footer>   
    </body>
</html>