<!DOCTYPE html>
<html lang="{$site->lang}">
    <head>
        <link rel="stylesheet" href="{$page->asset_url}/lumen.css?v={$page->asset_hash}"></link>
        <script type="text/javascript" src="{$page->asset_url}/lumen.min.js?v={$page->asset_hash}" async></script>
        <title>{$page->title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="{$page->body_classses}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">{$site->title}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/">Home</a>
                        <a class="nav-item nav-link" href="#">Features</a>
                        <a class="nav-item nav-link" href="#">Pricing</a>
                        <a class="nav-item nav-link disabled" href="#">Disabled</a>
                    </div>
                </div>
            </div>
        </nav>

