<!DOCTYPE html>
<html lang="{$site->lang}">
    <head>
        <link rel="stylesheet" href="{$page->asset_url}/lumen.css?v={$page->asset_hash}"></link>
        <script type="text/javascript" src="{$page->asset_url}/lumen.min.js?v={$page->asset_hash}" async></script>
        <title>{$page->title}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="{$site->charset}" />
    </head>
    <body class="{$page->body_classses}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">{$site->title}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {foreach $menu as $menu_item}
                            <a class="nav-item nav-link{if $menu_item->is_active} active{/if}" href="{$menu_item->url}">{$menu_item->name}</a>
                        {/foreach}
                    </div>
                </div>
            </div>
        </nav>

