{include 'header.latte'}

    <div class="container mt-4">
        <article>    
            <h2 class="mt-4">{$content->title}</h2>

            <div class="content mt-3">
                {$content->markdown_html|noescape}
            </div>
        </article>
    </div>

{include 'footer.latte'}