.container .content img.img-thumbnail {
    float: left;
    max-width: 230px;
    margin-right: 20px;
    margin-bottom: 20px;
}

article {
    clear: both;
}

@media (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
}

.container .content img {
    max-width: 100%;
}

.meta {
    margin-top: -5px;
    font-size: 0.8em;
}

article {
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
}