.content img.img-thumbnail {
    float: left;
    max-width: 220px;
    max-height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
}

article {
    clear: both;
}

@media (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
}

.container .content img {
    max-width: 100%;
}

.meta {
    margin-top: -5px;
}