.content img.img-thumbnail {
    float: left;
    max-width: 240px;
    max-height: 240px;
    margin-right: 20px;
    margin-bottom: 20px;
}

article {
    clear: both;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}

.container .content img {
    max-width: 100%;
}