<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{$asset_url}/themes/ds/assets/bundle.css?v=1">
        <title>{$title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="{$body_classses}">
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">Home</a>
            
            <a role="button" class="navbar-burger" data-target="primary-menu" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="primary-menu">

        </div>
    </div>
</nav>

<header class="hero is-primary">   
    <div class="hero-body">
        <div class="container">
            <h2 class="title is-2">Hola, I'm Duane</h2>
            <h3 class="subtitle is-5">A few interesting things about me:</h3>

            <div class="columns has-text-centered">
                <div class="column">
                    <div class="fas fa-code"> </div> 
                    <p class="desc">I've developed software used by over 40 million people, including the previous media engine in Yahoo! Messenger.</p>
                    <p><a class="button is-primary is-small" href="/topic/code/">More Software</a></p> 
                </div>
                <div class="column is-hidden-touch">
                    <div class="fas fa-wrench"> </div> 
                    <p class="desc">I engineer lots of cool things such as hi-fi audio amplifiers and solar batteries for camping.</p>
                    <p><a class="button is-primary is-small"  href="/topic/projects/">More Projects</a></p> 
                </div>
                <div class="column">
                    <div class="fas fa-chart-bar"> </div> 
                    <p class="desc">I co-wrote the previous #1 plugin for WordPress (out of 20,000), WPtouch, and eventually sold it.</p>
                    <p><a class="button is-primary is-small" href="/topic/business/">More Business</a></p> 
                </div>
                <div class="column">
                    <div class="fas fa-plane-departure"> </div> 
                    <p class="desc">I've visited 44 countries in the last seven years and currently live in Valencia on the eastern coast of Spain.</p><p>
                    <a class="button is-primary is-small" href="/topic/travel/">More Travel</a></p>
                </div>
                <div class="column is-hidden-mobile">
                    <div class="fas fa-camera-retro"> </div> 
                    <p class="desc">I am a published concert, travel, portrait, and landscape photographer; I currently shoot Fuji XT lenses.</p>
                    <p><a class="button is-primary is-small"  href="/topic/photography/">More Photography</a></p> 
                </div>
            </div>
        </div>

        <div class="container newsletter">
            <div class="has-text-centered">
                <p>Sign-up to my exclusive business-oriented mailing list for occassional updates:</p>
                <form action="//migratorynerd.us7.list-manage.com/subscribe/post?u=80cbf36c84f738b5623a02a85&amp;id=97101f05dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <input type="email" placeholder="Enter your email address...." name="EMAIL" class="required email" id="mce-EMAIL"><input type="submit" value="Join 725 Subscribers" name="subscribe" id="mc-embedded-subscribe" class="button is-info"><input type="submit" value="Sign-up" name="subscribe" id="mc-embedded-subscribe-mobile" class="button is-info">
                        </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>   
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_80cbf36c84f738b5623a02a85_97101f05dd" tabindex="-1" value="">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>


